 #simplexTable .filler,
 #simplexTable:constrained-resize .filler,
 #simplexTable .first-column {
    -fx-background-color: -fx-box-border, -fx-inner-border, linear-gradient(to right,
                                                                        ladder(
                                                                            -fx-color,
                                                                            derive(-fx-color,8%) 75%,
                                                                            derive(-fx-color,10%) 80%
                                                                        ),
                                                                        derive(-fx-color,-8%));
    -fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
    -fx-font-weight: bold;
    -fx-size: 2em;
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-padding: 0.166667em;
}